
<footer class="mainfooter" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="col-md-12 copy">
                <p class="text-center">&copy; Copyright 2020 - Zarbag Mohamed Elmehdi.  All rights reserved.</p>
            </div>
        </div>


    </div>
</footer>
